**/*.pyc
**/.DS_Store
**/.idea
**/.ipynb_checkpoints

.idea/
.env
.venv
venv/
config.ini
*.pyc
*.log
config.yml
docker-compose.yml
*.xlsx
*.csv
tmp
env/

**/__pycache__/**
*.egg-info
*.pickle
*.joblib
.neptune/
*.bin
*.gz
*.txt
*.word2vec
*.exe
